<div class="container-fluid">
    <div id="about" class="row about-section">
        <div class="col-lg-6 about-card">
            <h3 class="font-weight-light">Who am I ?</h3>
            <span class="line mb-5"></span>
            <h5 class="mb-3">Software engineer | Full stack developer</h5>
            <p class="mt-20">I m a 5th year student in software engineering with 1 year of experience building websites and web applications. I specialize in ASP.NET CORE and Angular. <br/> looking for an end-of-studies internship</p>
            <a class="btn btn-outline-danger" href="https://cdn.fbsbx.com/v/t59.2708-21/301413580_815185796164912_8892152160589105396_n.pdf/CHAKROUNKARIM.pdf?_nc_cat=105&ccb=1-7&_nc_sid=0cab14&_nc_ohc=TPTXjsLLeuYAX-HpGY1&_nc_ht=cdn.fbsbx.com&oh=03_AVIa3buxZ13NnawKvtlhQne3tJK_-i7JfFhFu2ZgkhvXkQ&oe=631BD61A&dl=1"><i class="icon-down-circled2 "></i>Download My CV</a>
        </div>
        <div class="col-lg-6 about-card">
            <h3 class="font-weight-light">Personal Info</h3>
            <span class="line mb-5"></span>
            <ul class="mt40 info list-unstyled">
                <li><span>Birthdate</span> : 07/01/1996</li>
                <li><span>Email</span> : karim.chakroun@outlook.com</li>
                <li><span>Phone</span> : + (216) 54058190</li>
                <li><span>Country</span> : Tunisia </li>
                <li><span>Address</span> :  22 doctor Al Kassab street. Menzel Temime</li>
            </ul>
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link" href="https://www.facebook.com/karim.chakroun.982/"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="https://www.linkedin.com/in/karim-chakroun-75209117b/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                
                
                <li class="social-item"><a class="social-link" href="https://github.com/karim-chakroun"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>
        </div>
       
    </div>
</div>

<!--Resume Section-->
<section class="section" id="resume">
    <div class="container">
        <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4>Experience</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">11/2021 - Present</h6>
                        <P>
                            <b>Part-time former at Designet</b>
                        </P>
                        <P class="subtitle">
                            Organization of certified training and supervision of internships
                            studies on the .NET Core Framework and Angular 12.
                        </P>
                        <hr>
                        <h6 class="title text-danger">06/2022 - 08/2022</h6>
                        <P><b>Engineering internship at WID (2 months)</b></P>
                        <P class="subtitle">
                            Development of a financial application for a French client that
                            allows the comparison of products and the management of budget tools in
                            using the SCRUM method, the Spring Framework boot in Backend and Angular
                            13 in Frontend and the JIRA platform for task tracking.
                        </P>
                        <hr>
                        <h6 class="title text-danger">07/2021 - 08/2021</h6>
                        <P><b>End-of-studies internship at Finlogik (5 months)</b></P>
                        <P class="subtitle">
                            Development of a web application to facilitate resource management
                            humans and a chatbot using .NET Web API and Angular.
                        </P>
                        <hr>
                        <h6 class="title text-danger">02/2020 - 06/2020</h6>
                        <P><b>Immersion internship at Finlogik (2 months)</b></P>
                        <P class="subtitle">
                            Development of an IT request management application using
                            ASP.Net Core and Angular7.
                        </P>
                        <hr>
                        <h6 class="title text-danger">07/2019 - 08/2019</h6>
                        <P><b>Internship at Intilaq (2 months)</b></P>
                        <P class="subtitle">
                            Development of an MVC web application (Carthage Freelance) in
                            using ASP.NET.<br />
                            Github: <a href="https://github.com/karim-chakroun/carthage-freelance">View Project</a> 
                        </P>
                        <hr>
                        <h6 class="title text-danger">08/2018</h6>
                        <P><b>Internship at Ooredoo (1 month)</b></P>
                        <P class="subtitle">
                            Support for technical services (verification of network coverage,
                            resolution of technical problems, etc.).
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4>Education</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">09/2020 - Present</h6>
                        <P>
                            Private High School of Engineering and Technology
                            (ESPRIT)
                        </P>
                        <P class="subtitle">Engineering cycle software engineering course.</P>
                        <hr>
                        <h6 class="title text-danger">2016 - 2020</h6>
                        <P>High Institute of Computer Science (ISI), Ariana</P>
                        <P class="subtitle">Bachelor's Degree in Computer Networking.</P>
                        <hr>
                        <h6 class="title text-danger">2014</h6>
                        <P>Taieb Mhiri school, Menzel Temime</P>
                        <P class="subtitle">Baccalaureate mathematics section.</P>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Skills</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <div class="card-header"><h5 style="color:#212529">Frameworks: </h5></div>
                        <h6>Angular 13</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>.NET Core</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Spring boot/JPA/Hibernate</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <hr />
                        <div class="card-header"><h5 style="color:#212529">Database: </h5></div>
                        
                      
                        <h6>Oracle SQL</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>SQL server</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Languages</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <h6>English</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>French</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Arabic</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!-- Portfolio Section -->
<section class="section bg-custom-gray" id="portfolio">
    <div class="container">
        <h2 class="mb-5"><span class="text-danger">My</span> Portfolio</h2>
        <div class="row">
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog1.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h6 class="title">Gaming & Anime social network</h6>

                    <p class="post-details">
                        <a href="#">By: Geeks</a>
                   
                    </p>

                    <p><b>2021: Study project at ESPRIT</b></p>

                    <p>Realization of "Geeks" application for the management of gaming and manga events Symfony 4 web version, Codename mobile and JavaFx desktop with the "code mages" team</p>

                    <p><b>Keywords: Symfony 4/MySQL</b></p>
                    

                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet1">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/mohanedbenmansour/PIDEV_Geeks3A32" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog5.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h6 class="title">FinIT</h6>

                    <p class="post-details">
                        <a href="#">By: Karim Chakroun</a>

                    </p>

                    <p><b>07/2021-08/2021: Immersion internship at Finlogik (2 months)</b></p>

                    <p>Development of an IT request management application for Finlogik called FinIT. This application allows the user to create, consult, modify, delete his own ticket and allows agents to access tickets to change the status of the ticket (to do, in progress, finished or refused) and communicate with the user in the ticket comments during processing.</p>
                    <p><b>Keywords: .NET Core/Angular7/SQL Server/Github</b></p>



                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet2">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/karim-chakroun/Application-Gestion-des-demandes-IT" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog6.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h6 class="title">Financial application</h6>

                    <p class="post-details">
                        <a href="#">By: WID</a>

                    </p>

                    <p><b>06/2022-08/2022: Engineering internship at WID (2 months)</b></p>

                    <p>Development of a financial application for a French client that allows the comparison of products and the management of budget tools using the SCRUM method, the Spring boot Framework in Backend and Angular 13 in Frontend and the JIRA platform for task tracking.</p>

                    <p><b>Keywords: Spring boot/Hibernate/JPA/Angular13/Angular Material Design/Postgre SQL/Github/JIRA</b></p>


                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet3">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/mohanedbenmansour/PIDEV_Geeks3A32" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
            <!-- blog-card -->
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog2.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h6 class="title">Explicabo illo</h6>

                    <p class="post-details">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                        <a href="#"><i class="ti-comment"></i> 264</a>
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>

                    <p><b>Keywords: Angular7/Angular Material Design/Github</b></p>
                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet4">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/mohanedbenmansour/PIDEV_Geeks3A32" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
            <!-- blog-card -->
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog4.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h4 class="title">FinRH</h4>

                    <p class="post-details">
                        <a href="#">By: Karim Chakroun</a>
                        
                    </p>

                    <p><b>02/2020-06/2020: End-of-study internship at Finlogik (5 months)</b></p>

                    <p> Development of a web application to facilitate the management of human resources and a chatbot using .NET Web API and Angular.</p>

                    <p><b>Keywords: .NET Web API/Angular7/SQL Server/Github</b></p>
                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet5">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/mohanedbenmansour/PIDEV_Geeks3A32" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->
            <div class="blog-card">
                <div class="img-holder">
                    <img src="/imgs/blog7.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="content-holder">
                    <h4 class="title">BTC</h4>

                    <p class="post-details">
                        <a href="#">By: Karim Chakroun</a>

                    </p>

                    <p><b>2022: Study project at ESPRIT</b></p>

                    <p>
                        Realization of the user and invitation management part of a
                        business and travel app that helps businesses find
                        travel partners in the professional world with the “BTC” team in
                        using the SCRUM method, the Spring Framework boot in backend and Angular
                        in frontend and the Crisp-dm methodology during the datamining phase.
                    </p>

                    <p><b>Keywords: Spring boot/Hibernate/JPA/Angular13/Angular Material Design/MySQL/Github</b></p>

                    <a href="#" class="read-more" data-toggle="modal" data-target="#projet6">View project <i class="ti-angle-double-right"></i></a>
                    <a href="https://github.com/mohanedbenmansour/PIDEV_Geeks3A32" class="read-more">View code <i class="ti-angle-double-right"></i></a>
                </div>
            </div><!-- end of blog wrapper -->

        </div>
    </div>
</section>
<!-- End of portfolio section -->



<div class="section contact" id="contact">
    
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4">
                <div class="contact-info-card">
                    <h4 class="contact-title">Contact</h4>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-mobile icon-md"></i>
                        </div>
                        <div class="col-10 ">
                            <h6 class="d-inline">Phone : <br> <span class="text-muted">+ (216) 54 058 190</span></h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-map-alt icon-md"></i>
                        </div>
                        <div class="col-10">
                            <h6 class="d-inline">Address :<br> <span class="text-muted">22 doctor Al Kassab street. <br /> Menzel Temime</span></h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-1 pt-1 mr-1">
                            <i class="ti-envelope icon-md"></i>
                        </div>
                        <div class="col-10">
                            <h6 class="d-inline">Email :<br> <span class="text-muted">karim.chakroun@outlook.com</span></h6>
                        </div>
                    </div>
                    <ul class="social-icons pt-4">
                        
                        <li class="social-item"><a class="social-link text-dark" href="https://www.facebook.com/karim.chakroun.982/"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                        <li class="social-item"><a class="social-link text-dark" href="https://www.linkedin.com/in/karim-chakroun-75209117b/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>


                        <li class="social-item"><a class="social-link text-dark" href="https://github.com/karim-chakroun"><i class="ti-github" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="projet1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/imgs/geeks1.jpg" class="d-block w-100" alt="test">
                            <div class="carousel-caption d-none d-md-block">
                               
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/imgs/geeks2.jpg" class="d-block w-100" alt="tt">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/geeks3.jpg" class="d-block w-100" alt="tt">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/geeks4.jpg" class="d-block w-100" alt="tt">
                            <div class="carousel-caption d-none d-md-block">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projet3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet2</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projet2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet3</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/imgs/FINIT1.jpg" class="d-block w-100" alt="FINIT1">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/imgs/FINIT2.jpg" class="d-block w-100" alt="FINIT2">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/FINIT3.jpg" class="d-block w-100" alt="FINIT3">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/FINIT4.jpg" class="d-block w-100" alt="FINIT4">
                            <div class="carousel-caption d-none d-md-block">
                               
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projet4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet4</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projet5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet5</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="projet6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">projet5</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/imgs/BTC0.jpg" class="d-block w-100" alt="btc">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/imgs/BTC1.jpg" class="d-block w-100" alt="bt">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/BTC2.jpg" class="d-block w-100" alt="bc">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/BTC3.jpg" class="d-block w-100" alt="ba">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/BTC5.jpg" class="d-block w-100" alt="bs">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/imgs/BTC4.jpg" class="d-block w-100" alt="bd">
                            <div class="carousel-caption d-none d-md-block">
                                
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>




